html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'font', sans-serif;
}

.index_page {
  font-family: Arial, Verdana, sans-serif;
}

.index_main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-color: #070217;
}

.index_logo {
  display: block;
  margin-bottom: 50px;
}

.index_aside {
  margin-bottom: 50px;
  font-size: 0;
}

.index_aside_link {
  display: inline-block;
  padding: 24px 49px;
  margin-right: 25px;
  font-weight: 700;
  font-size: 18px;
  background-color: #3f2aff;
}

.index_link_download {
  font-weight: 700;
  font-size: 18px;
  color: #3f2aff;
  padding-left: 30px;
  background-image: url("../img/download.png");
  background-position: left center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

.index_aside_link:last-child {
  margin: 0;
}

.article_container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

.article_title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 60px;
  color: #333;
}

.article_lead {
  margin: 0;
  margin-bottom: 40px;
  width: 872px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.article_lead:last-child {
  margin: 0;
}

.article_desc {
  border-radius: 30px;
  padding: 50px 95px;
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
  background-color: #3f2aff;
}

.article_section_1:last-child {
  margin: 0;
}

.article_section_1 {
  margin-bottom: 40px;
}

.article_section {
  margin-bottom: 40px;
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
  background-position: right center;
  background-repeat: no-repeat;
}

.article_item::marker {
  color: blue;
  font-size: 1.2em;
}

.article_link {
  border-bottom: 1px solid #3f2aff;
  font-size: 20px;
  color: #3f2aff;
}

.article_section:last-child {
  margin: 0;
}

.article_pic1 {
  background-image: url("../img/decorate-1.png");
}

.article_pic2 {
  background-image: url("../img/decorate-2.png");
}

.article_pic {
  margin: 0;
  display: inline-block;
  margin-bottom: 40px;
  width: 872px;
  font-size: 0;
}

.article_pic:last-child {
  margin: 0;
}

.article_desc1 {
  border: 1px solid #b6b6b6;
  padding: 19px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.article_section .article_lead {
  width: 692px;
  margin-bottom: 10px;
}

.article_section .article_lead:last-child {
  margin: 0;
}

.article_subject {
  margin: 0;
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 46px;
  color: #333;
}

.article_heading {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #333;
}

.article_list {
  margin: 0;
  padding-left: 15px;
}

.article_item {
  margin: 0;
}

.article_item:not(:last-child) {
  margin-bottom: 20px;
}

.article_image {
  margin: 0;
  margin-bottom: 40px;
}
